@import "tailwindcss";

:root {
  --background: #ffedd4;
  --foreground: #ffedd4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-display: var(--font-bodoni-moda);
  --font-sans: var(--font-dm-sans);
  --font-raleway: var(--font-raleway);
  --color-container-background-color: #ffe5b8;
  --color-container-background-color-dark: #d4ae46;
}

body {
  background: var(--background);
  color: var(--foreground);
}
